<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Stay Engaged</title>
  <meta name="description" content="A site to help you understand who toure representatives are!">
  <meta name="author" content="Joel Urena">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
	<h1 class="text-center"> Loading... </h1>
	<% if (error){ %>
		<h1 class="text-center"> <%= error %> </h1>
	<%}%> 
</html>