<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body class="container"> 
	<h1> Find Your Reps, Type in your Address </h1> 
	 <form action="/signin" method="post" >
	 	Street Address: <input type = "text" name = "address" placeholder="Address"> <br> 
	 	Zip Code: <input type = "text" name = "zip" placeholder="Zip Code"> <br> 
	 	City: <input type = "text" name = "City" placeholder="City"> <br>
	 	State: <input type = "text" name = "State" placeholder="Proper State Abbreviation"> <br>
		<input type="submit" value="Submit">
	</form>
</body>
